*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.header{
  padding: 10px;
}

.top-header{
  font-size: 12px;
  font-weight: 500;
}

.top-header p{
  margin-bottom: 0px;
}

.auth{
  margin-bottom: 0px;
}

.auth li{
  margin: 0px 4px;
  font-size: 12px;
}

.logo{
  width: 156px;
}

.menu{
  max-width: 550px;
  margin: auto;
}

.menu>nav>ul {
  margin: 0px;
  padding: 0px;
}

.menu>nav>ul>li{
  position: relative;
}


.menu>nav>ul>li  a{
  display: block;
  padding: 19px 20px;
  color: #212121;
  font-size: 13px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
}

.mega_menu{
  position: absolute;
  min-width: 580px;
  padding: 30px 25px 35px;
  background: #fff;
  border: 1px solid #ebebeb;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
  top: 100%;
  text-align: left;
}

 .menu>nav>ul>li:hover .mega_menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
}


.mega_menu li a{
  padding: 10px !important;
}

.sub_menu li a{
  padding: 10px !important;
}


.mega_menu ul{
  padding: 0px;
}

.sub_menu {
  padding: 0px;
}

.mega_menu ul li  a{
  display: block !important;
  padding: 5px 10px !important;
  color: #808080 !important;
  font-size: 13px !important;
  line-height: 26px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
}

.sub_menu{
  position: absolute;
  min-width: 230px;
  padding: 30px 25px 35px;
  background: #fff;
  border: 1px solid #ebebeb;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
  top: 100%;
  text-align: left;
}

.menu>nav>ul>li:hover .sub_menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
}

.sub_menu  li  a{
  display: block !important;
  padding: 5px 10px !important;
  color: #808080 !important;
  font-size: 13px !important;
  line-height: 23px !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
}

.main_header{
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: white;
}



@media only screen and (min-width: 320px) and (max-width: 556px){
  .header{
    display: none;
  }

  .main_header  .logo-items{
    margin-left: -11px;
  }

  .logo{
    width: 107px;
  }

  .menu{
    display: none;
  }
}

