@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}







::-webkit-scrollbar {
  width: 5px; 
}


::-webkit-scrollbar-track {
  background: #e7e7e7;
}


::-webkit-scrollbar-thumb {
  background: #c09578;
  border-radius: 10px;
  max-height: 5px !important;
}


::-webkit-scrollbar-thumb:hover {
  background: #c09578;
}

a{
  color: black;
  text-decoration: none;
}

a:active a{
  color: #c09578;
}

.trending_collection{
  background: url('/e9234fa4-3ff6-4a6e-a00e-0c9ff26e7b20-1670180400.jpg')no-repeat center;
  background-size: cover;
  height: 450px;
}


.banner_text {
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_text:hover {
  transform: scale(1.05);
}

.banner_text a:hover {
  background: #c09578;
  color: #fff;
}

.banner_text h2 {
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 10px;
  color: #242424;
  font-weight: 700;
  line-height: 65px;
}

.banner_text > span {
  font-size: 16px;
  margin: 0;
  display: block;
  color: #5a5a5a;
}

.banner_text a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c09578;
  border: 2px solid #c09578;
  padding: 0 45px;
  border-radius: 3px;
  margin-top: 70px;
  line-height: 46px;
  display: inline-block;
}

.newsletter_area {
  padding-bottom: 70px;
  margin-bottom: 0px;
}

.product_bottom_two {
  background: #f8f9f9;
  padding: 70px 0 50px;
  /* margin-bottom: 77px; */
}

.newsletter_content {
  text-align: center;
}

.newsletter_content h2 {
  text-transform: capitalize;
  color: #242424;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.newsletter_content p {
  line-height: 26px;
  margin-bottom: 37px;
}

.newsletter_content form {
  width: 690px;
  position: relative;
  margin: 0 auto;
}

.newsletter_content form input {
  width: 100%;
  padding: 10px 224px 10px 20px;
  border: 2px solid #ebebeb;
  background: none;
  color: #a7a7a7;
  border-radius: 4px;
}

.newsletter_content form button {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 0 60px;
  background: #c09578;
  color: #fff;
  height: 100%;
  border: 0;
  border-radius: 4px;
  text-transform: capitalize;
}

#newsletter_form small {
  float: left;
}



/* footer */
.widgets_container > h3 {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 24px;
  font-weight: 600;
  color: #242424;
}

.footer_contact p {
  margin-bottom: 0;
  line-height: 30px;
  font-size: 14px;
}

.footer_contact ul {
  margin-top: 10px;
}

.footer_contact ul li {
  display: inline-block;
  margin-right: 7px;
}

.footer_contact ul li a {
  color: #b2b2b2;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 1px solid #e1e1e1;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  display: block;
}

.footer_contact ul li a:hover {
  color: #c09578;
  border-color: #c09578;
}

.footer_menu ul li a {
  display: block;
  font-weight: 400;
  line-height: 30px;
  font-size: 14px;
  color: #5a5a5a;
}

.simple_product_items {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
}

.simple_product_thumb {
  width: 22%;
}

.simple_product_content {
  width: 70%;
  margin-left: 17px;
}
.simple_product_content .tag_cate {
  margin-bottom: 0;
}

.tag_cate a {
  color: #5a5a5a;
  font-size: 13px;
}

.simple_product_content .product_name h3 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.simple_product_content .product_name h3 a {
  color: #1c456c;
}

.simple_product_content .product_price span.old_price {
  text-decoration: line-through;
  padding-right: 8px;
}

.simple_product_content .product_price span {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
}

.simple_product_content .product_price span.current_price {
  color: #c09578;
  font-weight: 500;
}

.simple_product_items:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.footer_middel_menu {
  text-align: center;
  padding: 17px 0 15px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}

.footer_middel_menu ul li {
  display: inline-block;
  margin-right: 40px;
}

.footer_middel_menu ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #5a5a5a;
}

.copyright_area {
  text-align: center;
}

.copyright_area p {
  text-transform: capitalize;
  line-height: 26px;
}

@media only screen and (min-width: 320px) and (max-width: 556px){

  .banner_content h2 {
    font-size: 20px;
    line-height: 23px;
}

.newsletter_area {
    padding-bottom: 60px;
    margin-bottom: 55px;
}

.newsletter_content form {
  width: 100%;
}

.newsletter_content form button {
  padding: 0 17px;
  font-size: 14px;
}
.newsletter_content form input {
  padding: 8px 109px 8px 10px;
}

.newsletter_content form button {
  padding: 0 17px;
  font-size: 14px;
}

.widgets_container {
  margin-bottom: 25px;
}

.footer_middel_menu ul li {
  margin-right: 20px;
}

.footer_middel_menu ul li a {
  font-size: 13px;
}
}

